name: Release Drafter Pebble
on:
  push:
    # branches to consider in the event; optional, defaults to all
    branches:
      - master
      - main
    paths:
      - "pebble/**"
jobs:
  draft_release_pebble:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter-pebble.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
