on:
    push:
        branches:
            - master
            - main
    pull_request:
name: Security
jobs:
    Gosec:
        runs-on: ubuntu-latest
        steps:
            -   name: Fetch Repository
                uses: actions/checkout@v3
            -   name: Install Go
                uses: actions/setup-go@v4
                with:
                    go-version: '^1.17.x'
            -   name: Install Gosec
                run: |
                    export PATH=${PATH}:`go env GOPATH`/bin
                    go install github.com/securego/gosec/v2/cmd/gosec@latest
            -   name: Run Gosec (root)
                working-directory: .
                run: "`go env GOPATH`/bin/gosec -exclude-dir=internal -exclude-dir=arangodb -exclude-dir=badger -exclude-dir=dynamodb -exclude-dir=memcache -exclude-dir=memory -exclude-dir=mongodb -exclude-dir=mysql -exclude-dir=postgres -exclude-dir=redis -exclude-dir=ristretto -exclude-dir=sqlite3 -exclude-dir=s3 -exclude-dir=bbolt -exclude-dir=azureblob -exclude-dir=mssql -exclude-dir=couchbase ./..."
                # -----
            -   name: Run Gosec (arangodb)
                working-directory: ./arangodb
                run: "`go env GOPATH`/bin/gosec -exclude-dir=internal ./..."
                # -----
            -   name: Run Gosec (badger)
                working-directory: ./badger
                run: "`go env GOPATH`/bin/gosec -exclude-dir=internal ./..."
                # -----
            -   name: Run Gosec (couchbase)
                working-directory: ./couchbase
                run: "`go env GOPATH`/bin/gosec -exclude-dir=internal ./..."
                # -----
            -   name: Run Gosec (dynamodb)
                working-directory: ./dynamodb
                run: "`go env GOPATH`/bin/gosec -exclude-dir=internal ./..."
                # -----
            -   name: Run Gosec (memcache)
                working-directory: ./memcache
                run: "`go env GOPATH`/bin/gosec -exclude-dir=internal ./..."
                # -----
            -   name: Run Gosec (memory)
                working-directory: ./memory
                run: "`go env GOPATH`/bin/gosec -exclude-dir=internal ./..."
                # -----
            -   name: Run Gosec (mongodb)
                working-directory: ./mongodb
                run: "`go env GOPATH`/bin/gosec -exclude-dir=internal ./..."
                # -----
            -   name: Run Gosec (mysql)
                working-directory: ./mysql
                run: "`go env GOPATH`/bin/gosec -exclude-dir=internal ./..."
                # -----
            -   name: Run Gosec (postgres)
                working-directory: ./postgres
                run: "`go env GOPATH`/bin/gosec -exclude-dir=internal ./..."
                # -----
            -   name: Run Gosec (redis)
                working-directory: ./redis
                run: "`go env GOPATH`/bin/gosec -exclude-dir=internal ./..."
                # -----
            -   name: Run Gosec (sqlite3)
                working-directory: ./sqlite3
                run: "`go env GOPATH`/bin/gosec -exclude-dir=internal ./..."
                # -----
            -   name: Run Gosec (s3)
                working-directory: ./s3
                run: "`go env GOPATH`/bin/gosec -exclude-dir=internal ./..."
                # -----
            -   name: Run Gosec (ristretto)
                working-directory: ./ristretto
                run: "`go env GOPATH`/bin/gosec -exclude-dir=internal ./..."
                # -----
            -   name: Run Gosec (bbolt)
                working-directory: ./bbolt
                run: "`go env GOPATH`/bin/gosec -exclude-dir=internal ./..."
                # -----
            -   name: Run Gosec (azureblob)
                working-directory: ./azureblob
                run: "`go env GOPATH`/bin/gosec -exclude-dir=internal ./..."
                # -----
            -   name: Run Gosec (mssql)
                working-directory: ./mssql
                run: "`go env GOPATH`/bin/gosec -exclude-dir=internal ./..."
                # -----
