on:
  push:
    branches:
      - master
      - main
    paths:
      - "leveldb/**"
  pull_request:
    paths:
      - "leveldb/**"
name: "Tests leveldb"
jobs:
  Tests:
    strategy:
      matrix:
        go-version:
          - 1.18.x
          - 1.19.x
          - 1.20.x
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: "${{ matrix.go-version }}"
      - name: Setup Golang caches
        uses: actions/cache@v3
        with:
          # In order:
          # * Module download cache
          # * Build cache (Linux)
          # * Build cache (Mac)
          # * Build cache (Windows)
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/Library/Caches/go-build
            ~\AppData\Local\go-build
          key: ${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ matrix.go-version }}-

      - name: Fetch Repository
        uses: actions/checkout@v3
      - name: Test LevelDB
        run: cd ./leveldb && go test ./... -v -race
