on:
    push:
        branches:
            - master
            - main
        paths:
            - 'aerospike/**'
    pull_request:
        paths:
            - 'aerospike/**'
name: "Tests Aerospike"
jobs:
    Tests:
        runs-on: ubuntu-latest        
        strategy:
            matrix:
                go-version:
                    - 1.23.x
                    - 1.24.x
        steps:
            -   name: Fetch Repository
                uses: actions/checkout@v4
            -   name: Install Go
                uses: actions/setup-go@v6
                with:
                    go-version: '${{ matrix.go-version }}'
            -   name: Run Test
                env:
                    TEST_AEROSPIKE_IMAGE: aerospike/aerospike-server:latest
                run: cd ./aerospike && go test ./... -v -race
