on:
  push:
    branches:
      - master
      - main
    paths:
      - 'surrealdb/**'
  pull_request:
    paths:
      - 'surrealdb/**'
  workflow_dispatch:
name: "Tests SurrealDB"
jobs:
  Tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - 1.24.x
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '${{ matrix.go-version }}'
      - name: Run Test
        env:
          TEST_SURREALDB_IMAGE: surrealdb/surrealdb:latest
        run: cd ./surrealdb && go test ./... -v -race
