on:
  push:
    branches:
      - master
      - main
    paths:
      - 'coherence/**'
  pull_request:
    paths:
      - 'coherence/**'
name: "Tests Coherence"
jobs:
  Tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - 1.19.x
          - 1.20.x
          - 1.21.x
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v3
      - name: Startup Coherence
        run: |
          docker run -d -p 1408:1408 -p 30000:30000 ghcr.io/oracle/coherence-ce:22.06.5
          sleep 30
      -   name: Install Go
          uses: actions/setup-go@v4
          with:
            go-version: '${{ matrix.go-version }}'
      -   name: Run Test
          run: cd ./coherence && go clean -testcache && go test ./... -v
