on:
  push:
    branches:
      - master
      - main
    paths:
      - 'clickhouse/**'
  pull_request:
    paths:
      - 'clickhouse/**'
  workflow_dispatch:

name: 'Tests Clickhouse'
jobs:
  Tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - 1.23.x
          - 1.24.x
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v5
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '${{ matrix.go-version }}'
      - name: Run Test
        env:
          TEST_CLICKHOUSE_IMAGE: clickhouse/clickhouse-server:23-alpine
        run: cd ./clickhouse && go clean -testcache && go test ./... -v -race
