on:
    push:
        branches:
            - master
            - main
        paths:
            - 'memcache/**'
    pull_request:
        paths:
            - 'memcache/**'
    workflow_dispatch:

name: "Tests Memcache"
jobs:
    Tests:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                go-version:
                    - 1.23.x
                    - 1.24.x
        steps:
            -   name: Fetch Repository
                uses: actions/checkout@v6
            -   name: Install Go
                uses: actions/setup-go@v6
                with:
                    go-version: '${{ matrix.go-version }}'
            -   name: Run Test
                env:
                    TEST_MEMCACHED_IMAGE: "memcached:latest"
                run: cd ./memcache && go test ./... -v -race
