on:
    push:
        branches:
            - master
            - main
        paths:
            - 'mysql/**'
    pull_request:
        paths:
            - 'mysql/**'
    workflow_dispatch:

name: "Tests MySQL"
jobs:
    Tests:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                go-version:
                    - 1.23.x
                    - 1.24.x
        steps:
            -   name: Fetch Repository
                uses: actions/checkout@v5
            -   name: Install Go
                uses: actions/setup-go@v6
                with:
                    go-version: '${{ matrix.go-version }}'
            -   name: Run Test
                env:
                    TEST_MYSQL_IMAGE: docker.io/mysql:9
                run: cd ./mysql && go test ./... -v -race
