on:
    push:
        branches:
            - master
            - main
        paths:
            - 'memcache/**'
    pull_request:
        paths:
            - 'memcache/**'
name: "Tests Memcache"
jobs:
    Tests:
        runs-on: ubuntu-latest
        services:
            mongo:
                image: 'memcached:latest'
                ports:
                    - '11211:11211'
        strategy:
            matrix:
                go-version:
                    - 1.16.x
                    - 1.18.x
                    - 1.19.x
                platform:
                    - ubuntu-latest
                    - windows-latest
        steps:
            -   name: Install Go
                uses: actions/setup-go@v3
                with:
                    go-version: '${{ matrix.go-version }}'
            -   name: Setup Golang caches
                uses: actions/cache@v3
                with:
                    # In order:
                    # * Module download cache
                    # * Build cache (Linux)
                    # * Build cache (Mac)
                    # * Build cache (Windows)
                    path: |
                        ~/go/pkg/mod
                        ~/.cache/go-build
                        ~/Library/Caches/go-build
                        ~\AppData\Local\go-build
                    key: ${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}
                    restore-keys: |
                        ${{ runner.os }}-go-${{ matrix.go-version }}-
            -   name: Fetch Repository
                uses: actions/checkout@v3
            -   name: Run Test
                run: cd ./memcache && go test ./... -v -race
