on:
    push:
        branches:
            - master
            - main
        paths:
            - 'minio/**'
    pull_request:
        paths:
            - 'minio/**'
name: "Tests Minio"
jobs:
    Tests:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                go-version:
                    - 1.21.x
                    - 1.22.x
                    - 1.23.x
        steps:
            -   name: Fetch Repository
                uses: actions/checkout@v4
            -   name: Install Go
                uses: actions/setup-go@v5
                with:
                    go-version: '${{ matrix.go-version }}'
            -   name: Run Test
                env:
                    TEST_MINIO_IMAGE: docker.io/minio/minio:RELEASE.2024-08-17T01-24-54Z
                run: cd ./minio && go test ./... -v -race
