on:
  push:
    branches:
      - master
      - main
    paths:
      - "pebble/**"
  pull_request:
    paths:
      - "pebble/**"
  workflow_dispatch:

name: "Tests pebble"
jobs:
  Tests:
    strategy:
      matrix:
        go-version:
          - 1.23.x
          - 1.24.x
    runs-on: ubuntu-latest
    steps:
    -   name: Fetch Repository
        uses: actions/checkout@v5
    -   name: Install Go
        uses: actions/setup-go@v5
        with:
            go-version: '${{ matrix.go-version }}'
    -   name: Test Pebble
        run: cd ./pebble && go test ./... -v -race
