'on':
  - push
  - pull_request
name: S3
jobs:
  Tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - 1.14.x
          - 1.15.x
        platform:
          - ubuntu-latest
          - windows-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: '${{ matrix.go-version }}'
      - name: Fetch Repository
        uses: actions/checkout@v2
      - name: Run Test
        run: cd ./s3 && go test ./... -v -race
