on:
  push:
    branches:
      - master
      - main
    paths:
      - "firestore/**"
  pull_request:
    paths:
      - "firestore/**"
name: "Tests Firestore"
jobs:
  Tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - 1.25.x
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "${{ matrix.go-version }}"
      - name: Run Test
        env:
          TEST_FIRESTORE_IMAGE: gcr.io/google.com/cloudsdktool/google-cloud-cli:emulators
        run: cd ./firestore && go test ./... -v -race
