on:
    push:
        branches:
            - master
            - main
        paths:
            - 'dynamodb/**'
    pull_request:
        paths:
            - 'dynamodb/**'
    workflow_dispatch:

name: "Tests DynamoDB"
jobs:
    Tests:
        runs-on: ubuntu-latest
        services:
            mongo:
                image: 'amazon/dynamodb-local:latest'
                ports:
                    - '8000:8000'
        strategy:
            matrix:
                go-version:
                    - 1.23.x
                    - 1.24.x
        steps:
            -   name: Fetch Repository
                uses: actions/checkout@v6
            -   name: Install Go
                uses: actions/setup-go@v6
                with:
                    go-version: '${{ matrix.go-version }}'
            -   name: Run Test
                env:
                    TEST_DYNAMODB_IMAGE: amazon/dynamodb-local:latest
                run: cd ./dynamodb && go test ./... -v -race
