on:
  push:
    branches:
      - master
      - main
    paths:
      - 'scylladb/**'
  pull_request:
    paths:
      - 'scylladb/**'

  workflow_dispatch:

name: "Tests ScyllaDb"

jobs:
  Tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version:
          - 1.23.x
          - 1.24.x

    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '${{ matrix.go-version }}'

      - name: Run Test
        env:
          TEST_SCYLLADB_IMAGE: "scylladb/scylla:6.2"
        run: cd ./scylladb && go test ./... -v -race
