on:
    push:
        branches:
            - master
            - main
        paths:
            - 'dynamodb/**'
    pull_request:
        paths:
            - 'dynamodb/**'
name: "Tests DynamoDB"
jobs:
    Tests:
        runs-on: ubuntu-latest
        services:
            mongo:
                image: 'amazon/dynamodb-local:latest'
                ports:
                    - '8000:8000'
        strategy:
            matrix:
                go-version:
                    - 1.17.x
                    - 1.18.x
                    - 1.19.x
                    - 1.20.x
        steps:
            -   name: Fetch Repository
                uses: actions/checkout@v3
            -   name: Install Go
                uses: actions/setup-go@v4
                with:
                    go-version: '${{ matrix.go-version }}'
            -   name: Run Test
                run: cd ./dynamodb && go test ./... -v -race
