on:
    push:
        branches:
            - master
            - main
        paths:
            - 'sqlite3/**'
    pull_request:
        paths:
            - 'sqlite3/**'
name: "Tests Sqlite3"
jobs:
    Tests:
        strategy:
            matrix:
                go-version:
                    - 1.19.x
                    - 1.20.x
                    - 1.21.x
        runs-on: ubuntu-latest
        steps:
            -   name: Fetch Repository
                uses: actions/checkout@v4
            -   name: Install Go
                uses: actions/setup-go@v5
                with:
                    go-version: '${{ matrix.go-version }}'
            -   name: Test SQLite3 - with -race check
                if: runner.os != 'Windows'
                run: cd ./sqlite3 && go test ./... -v -race
            -   name: Test SQLite3 - without -race check
                if: runner.os == 'Windows'
                run: cd ./sqlite3 && go test ./... -v
