on:
    push:
        branches:
            - master
            - main
        paths:
            - 'mssql/**'
    pull_request:
        paths:
            - 'mssql/**'
    workflow_dispatch:

name: "Tests MSSQL"
jobs:
    Tests:
        runs-on: ubuntu-latest
        services:
            mssql:
                image: 'mcmoe/mssqldocker:latest'
                ports:
                    - '1433:1433'
                env:
                    ACCEPT_EULA: Y
                    SA_PASSWORD: MsSql!1234
                    MSSQL_DB: master
                    MSSQL_USER: sa
                    MSSQL_PASSWORD: MsSql!1234
                options: >-
                    --health-cmd "/opt/mssql-tools/bin/sqlcmd -U sa -P $SA_PASSWORD -Q 'select 1' -b -o /dev/null"
                    --health-interval 1s
                    --health-timeout 30s
                    --health-start-period 10s
                    --health-retries 20
        strategy:
            matrix:
                go-version:
                    - 1.23.x
                    - 1.24.x
        steps:
            -   name: Fetch Repository
                uses: actions/checkout@v6
            -   name: Install Go
                uses: actions/setup-go@v6
                with:
                    go-version: '${{ matrix.go-version }}'
            -   name: Run Test
                run: cd ./mssql && go test ./... -v -race
                env:
                    MSSQL_DATABASE: master
                    MSSQL_USERNAME: sa
                    MSSQL_PASSWORD: MsSql!1234
