on:
    push:
        branches:
            - master
            - main
        paths:
            - 'etcd/**'
    pull_request:
        paths:
            - 'etcd/**'
    workflow_dispatch:

name: "Tests Etcd"
jobs:
    Tests:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                go-version:
                    - 1.24.x
                    - 1.25.x
        steps:
            -   name: Fetch Repository
                uses: actions/checkout@v6

            -   name: Install Go
                uses: actions/setup-go@v6
                with:
                    go-version: '${{ matrix.go-version }}'
            -   name: Run Test
                env:
                    TEST_ETCD_IMAGE: gcr.io/etcd-development/etcd:v3.6.6
                run: cd ./etcd && go test ./... -v -race
