on:
    push:
        branches:
            - master
            - main
        paths:
            - 'testhelpers/redis/**'
    pull_request:
        paths:
            - 'testhelpers/redis/**'
    workflow_dispatch:

name: "Tests TestHelper Redis"
jobs:
    Tests:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                go-version:
                    - 1.23.x
                    - 1.24.x
                redis:
                    - '6'
                    - '7'
        steps:
            -   name: Fetch Repository
                uses: actions/checkout@v4

            -   name: Install Go
                uses: actions/setup-go@v5
                with:
                    go-version: '${{ matrix.go-version }}'

            -   name: Run Test
                env:
                    TEST_REDIS_IMAGE: "docker.io/redis:${{ matrix.redis }}"
                working-directory: testhelpers/redis
                run: go test ./... -v -race
