on:
  push:
    branches:
      - master
      - main
    paths:
      - 'badger/**'
  pull_request:
    paths:
      - 'badger/**'
  workflow_dispatch:
name: "Tests Badger"
jobs:
  Tests:
    strategy:
      matrix:
        go-version:
          - 1.24.x
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '${{ matrix.go-version }}'
      - name: Test Badger
        run: cd ./badger && go test ./... -v -race
